

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Lato|Roboto');



/*Mobile Devices*/


html, body{
  line-height: 1.5;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

body{
  background-image: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
}

header{
  background-color: gray;
  margin-bottom: -15px;
}

header > h1{
  text-align: center;
}


/*CONTAINER*/


.container{
  border: 1px solid #666;
  margin: auto;
  background-color:#162131;
  width: 90%;
  height: auto;
}



.container p{
  clear: both;
  text-align: center;
}

h1{
  color: blue;
}

/*AREA*/


.area{
  width: auto;
  border: 1px solid black;
  height: 20vh;
  background-color: #EDDDD4;
  margin:5vh .5vw 0 .5vw;
  border-radius: 5px;
}


.area > img{
  display: block;
  margin: 0 auto;
  padding-top: 1.5vh;
}

div .location{
  text-align: center;
}


/*DETAILS*/

.details{
  width: auto;
  border: 1px solid black;
  margin-top: 3px;
  height: 25vh;
  background-color: #4F4F56;
  margin-left:.5vw;
  margin-right:.5vw;
  border-radius: 5px;
}

.icon{
  padding-top: 2vh;
  display: block;
  margin: 0 auto;
}

.describe{
  padding-top: 2vh;
}



/*TEMPERATURE SECTION*/


.temperature{
  width: auto;
  border: 1px solid black;
  border-radius: 5px;
  height: 10vh;
  margin-top: 3px;
  margin-bottom: 5px;
  background-color:#4F4F56;
  margin-left:.5vw;
  margin-right:.5vw;
}

.buton{
  float: right;
}

.buton > button{
  border-radius: 10px;
  margin-top: 2.5vh;
  background-color: powderblue;
  color: black;
  margin-right: .5vw;


  border: none;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}


.temperature > p{
  float: left;
  margin: 2.5vh 0 0 3vw;
}




/*Desktop and WideScreen Devices*/

/*CONTAINER*/

@media (min-width: 460px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 6em);
    grid-auto-rows: repeat(2, minmax(35vh, auto));
    grid-gap: 2px;
  }

  .area{
    grid-column: col 1 / span 2;
    grid-row: row 1 / span 2;
  }

  .details{
    grid-column: col 2;
    grid-row: row 1;
  }

  .temp{
    grid-column: col 2;
    grid-row: row 2;
  }

}
